#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="{{ vm_deploy_global_options.install_location }}"
repo --name="Server-HighAvailability" --baseurl={{ vm_deploy_global_options.install_location }}/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl={{ vm_deploy_global_options.install_location }}/addons/ResilientStorage
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
#ignoredisk --only-use=/dev/vda1
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=ph --xlayouts='ph'
# System language
lang en_PH.UTF-8

# Network information
network {{ vm_deploy_global_options.if_options }}
network --hostname=localhost.localdomain

# Root password
rootpw --iscrypted 9dWCzEbijTfks
# System services
services --enabled="chronyd,serial-getty@ttyS0.service"
# System timezone
timezone America/New_York --isUtc --ntpservers=gateway,clock01.util.phx2.redhat.com,clock02.util.phx2.redhat.com
# System bootloader configuration
bootloader --append="console=tty0 console=ttyS1,115200 crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

reboot

%packages
@^minimal
@core
chrony
kexec-tools
qemu-guest-agent

%end

%post --log=/root/ks-post.log

/usr/bin/mkdir /root/.ssh/
/usr/bin/chmod 700 /root/.ssh/
/usr/bin/touch /root/.ssh/authorized_keys
/usr/bin/chmod 600 /root/.ssh/authorized_keys
echo {{ vm_deploy_ssh_key }}  > /root/.ssh/authorized_keys
set -x
#Enable ttyS0 service
systemctl start serial-getty@ttyS0.service
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
